:root {
    --backgrond: #000;
    --text-color: #FFF;
    --button: #8257E5;
    --border: #29292E;
    --border-menu-mobile: #A8A8B3;
    --text-color-menu-mobile: #E1E1E6;
  }

  *{
      padding: 0;
      margin: 0;
      box-sizing: border-box;
      font-family: Manrope;
  }

  .background{
    background-color: #000;
    position: absolute;
    width: 100vw;
    height: 100vh;

  }

  .background-1 img{
    width: 45%;
    position: fixed;
    top: -130px;
    right: 0;
  }

  .background-2 img{
    width: 55%;
    height: 100%;
    position: fixed;
    bottom: 0px;
    left: -90px;
  }

  .container{
    width: 80vw;
    margin: 2rem auto;
  }

header.flex{
  margin-left: 10rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}


  nav{
    display: flex;
    align-items: center;
  }

  .flex nav a{
    color:var(--text-color) ;
    text-decoration: none;
    padding: 6px 25px;
    font-weight: 400;
    cursor: pointer;
    border-radius: 5px;
    font-size: 20px;
  }

  .flex nav a:hover{
    background-color: var(--button);
    transition: 0.3s ease;
  }

  #pega-cafe a{
    border: 1px solid var(--button);
    padding: 10px 50px;
    cursor: pointer;
  }

  #pega-cafe a:hover{
    border: 1px solid var(--text-color);
    background-color: var(--button);
  }

  .coffee{
    color: var(--text-color);
    font-size: 6rem;
    margin-top: 2rem;
    text-align: center;

  }

  .great-code h1{
    text-shadow: -1px -1px 0 var(--button), 1px -1px 0 var(--button), -1px 1px 0 var(--button), 1px 1px 0 var(--button);
    color: var(--backgrond);
    margin-top: -20px;
  }

  .rocket-coffee{
    position: fixed;
    bottom: 0;
    left: calc(100vw/5)
  }

  .rocket-coffee img{
    width: 90%;
  }

  .mobile{
    display: none;
  }

  @media only screen and (max-width: 900px){
    .background{
      display:none;
    }

    .mobile{
      display: block;
    }
  }